<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>A KNOW | </title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="/img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <%= link_to image_tag("/img/core-img/logo.png", class:"aknow-icon"), "/" %>
            </div>
            <% if user_signed_in? %>
            <div class="profile">
                <div class="card card-testimonial bg-light">
                    <div class="card-body d-flex flex-row align-items-center pb-3">
                        <img src="/img/core-img/default_icon.png" class="img-avatar rounded-circle" alt="Avatar image" width="50" height="50">
                        <div class="d-flex flex-column">
                            <span class="person small ml-2"><strong><%= link_to current_user.name, "#", class: "user-name" %></strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li class="active"><%= link_to 'TOP', root_path, class: "top-page" %></li>
                    <!--<li><a href="shop.html">カテゴリー</a></li>-->
                    <% if user_signed_in? %>
                    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
                    <% else %>
                    <li><%= link_to '新規会員登録', new_user_registration_path, class: "sign-up" %></li>
                    <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                    <% end %>
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                <%=link_to 'A KNOW', new_item_path, class:"btn amado-btn mb-15" %>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="#" class="fav-nav"><img src="/img/core-img/favorites.png" alt=""> Bookmark</a>
                <a href="#" class="search-nav"><img src="/img/core-img/search.png" alt=""> Search</a>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><%= link_to 'TOP', root_path, class: "top-page" %></li>
                                <li class="breadcrumb-item"><%= @item.category.name %></li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <%= image_tag @item.image, class: "d-block w-100" %>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price"><%= l @item.created_at %></p>
                                <a href="product-details.html">
                                    <h6><%= @item.user.name %></h6>
                                </a>
                            </div>
                            <!-- Explanation -->
                            <div class="short_overview my-5">
                                <p><%= @item.explanation %></p>
                            </div>
                            <div class="cart clearfix cart-btn d-flex w-100">
                                <% if user_signed_in? %>
                                    <% if current_user.id == @item.user_id %>
                                        <%= link_to "編集／削除", "#", class:"btn amado-btn" %>
                                    <% else %>
                                        <%= link_to "ANSWER", "#", class:"btn amado-btn" %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="index.html"><img src="/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> & Re-distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <%= link_to 'TOP', root_path, class: "nav-link" %>
                                        </li>
                                        <!--<li class="nav-item">
                                            <a class="nav-link" href="shop.html">カテゴリー</a>
                                        </li>-->
                                        <% if user_signed_in? %>                                    
                                        <li class="nav-item">
                                            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %>
                                        </li>
                                        <% else %>
                                        <li class="nav-item">
                                            <%= link_to '新規会員登録', new_user_registration_path, class: "nav-link" %>
                                        </li>
                                        <li class="nav-item">
                                            <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
                                        </li>
                                        <% end %>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</body>

</html>